# Global
.env
sample_AI_queries.txt

# Backend
backend/venv
backend/*/__pycache__

# Frontend
frontend/package-lock.json
.env
project_structure.txt


# kubernetes
kubernetes/configmap.yaml
kubernetes/secrets
kubernetes/scripts/build-images.sh
kubernetes/scripts/deploy.sh
