# Global
.env

# Backend
*/venv
*/*/__pycache__

# Frontend
frontend/package-lock.json
.env
project_structure.txt


# kubernetes
kubernetes/configmap.yaml
kubernetes/secrets
kubernetes/scripts/build-images.sh
kubernetes/scripts/deploy.sh