# Global
.env
sample_AI_queries.txt
project_structure.txt
k8s_error.txt

# Backend
backend/venv
backend/*/__pycache__
backend/testBackendContainer.sh

# Frontend
# frontend/package-lock.json
frontend/.env


# kubernetes
kubernetes/infrastructure/base/configmap.yaml
kubernetes/infrastructure/base/secrets/secret.yaml
kubernetes/scripts/build-images.sh
kubernetes/scripts/deploy.sh
